@model Users
@{
    ViewData["Title"] = "Register";
}

<h1 class="titles titleForm">Register user</h1>
<br />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="divForm">
    <div class="card">
        <div class="card-body  styleAccordion">
            <form asp-action="Create" class="styleAccordion titlesGen  ">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="StandarEmail" class="form-label"></label>
                    <input type="email" asp-for="StandarEmail" class="form-control requeried" />
                    <span asp-validation-for="StandarEmail" class="text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"> </span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <a class="btn btn-secondary" asp-action="Login">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}