.btnNewAccount {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    color: white;
    font-size: 20px;
}

.boton {
    /*font-size: 20px;
    font-weight: 500;*/
   /* padding: 0.5em 1.2em;*/
    border: 2px solid;
    border-color: #318aac;
    position: relative;
}

.boton:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        transition: all 1s ease;
 }

.boton:hover:before {
    width: 100%;
}

.styleAccordion {
    background-color:azure;  
}
.titles {
    color: coral;
    font-family: cursive;
    font-weight: 600;
}




